
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background: linear-gradient(#1f1f38, #2c2c6c) ; */
  background: #0B1926;
  line-height: 1.7;
  background-image: url(../src/assets/bg-texture.png);
}


.socials{
  content: '';
  width: 2px;
  height: 9rem;
  background-color: #02FF95;
}
.me{
  background:linear-gradient( #02FF95,transparent) ;
 width: 20rem;
 height: 16rem;
  position: absolute;
  left: calc(50% - 13em);
  overflow: hidden;
  border-radius: 12rem 12rem 0rem 0rem;
  padding: 5rem  1.5rem 1.5rem 1.5rem;
}
.m3{
  position: relative;
  top:-6rem;
  width: 44rem;
  height:32rem;
}